/* Definitions */

:root {
    /* Source: https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */
    --cultured: #f8f9faff;
    --cultured-2: #e9ecefff;
    --gainsboro: #dee2e6ff;
    --light-gray: #ced4daff;
    --cadet-blue-crayola: #adb5bdff;
    --slate-gray: #6c757dff;
    --davys-grey: #495057ff;
    --gunmetal: #343a40ff;
    --charleston-green: #212529ff;
}

@font-face {
    font-family: RobotoMonoRegular;
    src: url(fonts/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: RobotoMonoBold;
    src: url(fonts/RobotoMono-Bold.ttf);
}

@font-face {
    font-family: RobotoMonoItalic;
    src: url(fonts/RobotoMono-Italic.ttf);
}

@font-face {
    font-family: RobotoMonoBoldItalic;
    src: url(fonts/RobotoMono-BoldItalic.ttf);
}

/* Global rules */

* {
    font-family: RobotoMonoRegular;
}

body {
    margin: 10px;
    background-color: var(--charleston-green);
    color: var(--gainsboro);
}

/* Hide input spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

input, select {
    border-radius: 0px;
    background-color: var(--cadet-blue-crayola);
}

button {
    border-radius: 0px;
    padding: 5px;
    background-color: var(--cadet-blue-crayola);
}

a:link, a:visited,
a:hover, a:active {
    color: var(--gainsboro);
}

.bold {
    font-family: RobotoMonoBold;
}

.italic {
    font-family: RobotoMonoItalic;
}

.bold-italic {
    font-family: RobotoMonoBoldItalic;
}

.footnote {
    font-size: 14px;
}

/* Calculator container */

#calc-container {
    border-style: dotted;
    border-width: 1px;
    padding: 5px;
    max-width: 400px;
}

/* Calculator input */

#calc-input td {
    white-space: nowrap;
}

#calc-input td.space-under {
    padding-bottom: 15px;
}

#calc-input input[type="number"] {
    width: 100%;
    box-sizing: border-box;
}

#calc-input td.currency-symbol {
    padding-left: 5px;
}

#calc-input td#update-result {
    text-align: right;
}

/* Calculator result */

#calc-result td.result-value {
    padding-left: 10px;
}

#calc-result td#result-profit {
    font-size: 24px;
}

#calc-result td.profit {
    height: 32px; /* Avoid table resizing when injecting text */
    vertical-align: bottom;
}

/* Calculator footnotes */

table.footnote {
    margin-top: 5px;
}

/* Footer */

#footer {
    padding-top: 5px;
    border-top: 1px dotted;
    text-align: center;
}
